@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

body {
  position: relative;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.daytile {
  transition: all 0.150s ease-in-out;
  -moz-transition: all .150s;
  -o-transition: all .150s;
  -webkit-transition: all .150s;
}

.circle-loader {
  width: 3rem; /* Adjust the size as needed */
  height: 3rem; /* Adjust the size as needed */
  border: 0.4rem solid transparent;
  border-top-color: #3498db; /* Change the color as needed */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Adjust the animation duration as needed */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bodyContainer {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  background-color: white;
  overflow: hidden;
}

.tooltipContainer {
  position: absolute;
  z-index: 1000;
  top: 1rem;
  right: 0;
  background-color: white;
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #7e7e7e7c;
  z-index: 900;
}

.tooltip {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 900;
}

.customButtonPad {
  padding: 8.675px 14px 8.675px 13px;
}

@keyframes scaleup {
  0% {
    opacity: 0;
    transform: scale(1) translateY(1000px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes scaleuptwo {
  0% {
    opacity: 0;
    transform: scale(1) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animationScaleUp {
  animation: scaleup 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.fullroundi {
  border-radius: 50%;
}

.greene {
  @apply border-green-500 
}

.greeneLoad {
  @apply border-t-green-200 border-green-600
}

.rede {
  @apply  border-red-500
}

.redeLoad {
  @apply  border-t-red-200 border-red-600
}

.slatee {
  @apply  border-slate-500
}

.slateeLoad {
  @apply  border-slate-600 border-t-slate-200
}

.yellowe {
  @apply border-yellow-500
}

.yelloweLoad {
  @apply border-yellow-600 border-t-yellow-200
}